/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/
.table-view {
    -fx-base: #dedede;
    -fx-control-inner-background: #dbdbdb;
    -fx-background-color: #e2e2e2;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

 .table-view .column-header .label {
     -fx-text-fill: white;
     -fx-font-weight: bold;
 }
 .table-view .column-header * {
     -fx-background-color: gray;
 }
 /** add slight dividers between headers */
 .table-view .column-header {
     -fx-border-color: white;
     -fx-border-width: .3;
     -fx-padding: 0 0 0 0;
 }
 /** color the arrow */
 .table-view .column-header .arrow {
     -fx-background-color: black;
 }
 .table-cell {
     -fx-padding: 0.3em;
     -fx-border-color: transparent -fx-box-border transparent transparent;
     -fx-font: 11px "Verdana";
     -fx-text-fill: #212121;
 }
.table-view .table-column {
    -fx-alignment: CENTER_RIGHT;
}

